<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id='titre'>
      Liste des plantes
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar animated placeholder="Recherche"  (ionChange)="recherchePlante($event)"></ion-searchbar>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-fab id='ajouter' routerLink="/ajouter-plante" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>

    </ion-fab-button>
  </ion-fab>

  <ion-item routerLink="/afficher-plante" *ngFor="let genre of listeGenres" (click)="versVuePlante(produit)">
    <ion-thumbnail slot="start">
      <!--<img [src]="produit.imageURL" alt="" />-->
      <img [src]="genre.imageURL"
        onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Belgium_brussels_iris.svg/1054px-Belgium_brussels_iris.svg.png';">
      <!-- (ionError)="imageDefaut($event)" -->
    </ion-thumbnail>
  <ion-item-sliding>
    <ion-item>
    <ion-item class="nom">{{genre}}</ion-item>
    <!-- <ion-item class="nom">{{produit.quantite}}</ion-item> -->
    <!-- <ion-item class="nom">{{produit.quantiteCommandee}}</ion-item> -->
    </ion-item>
  </ion-item-sliding>
  </ion-item>
</ion-content>


